body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  min-height: 100vh;
  background: #0e0e10;
  color: #efeff1;
  font-family: "Space Grotesk";
}

header,
main,
footer {
  padding: 1.25em 1.5em;
}

header,
footer {
  margin-top: 2em;
}

header {
  display: flex;
  align-items: center;
}

footer {
  background: #18181b;
  font-size: .8em;
}

a {
  color: #9147ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
