@font-face {
  font-family: "Space Grotesk";
  font-weight: 300;
  font-display: swap;
  src: url(woff2/SpaceGrotesk-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-display: swap;
  src: url(woff2/SpaceGrotesk-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-display: swap;
  src: url(woff2/SpaceGrotesk-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 700;
  font-display: swap;
  src: url(woff2/SpaceGrotesk-Bold.woff2) format("woff2");
}
